html, body{
    padding:0;
    margin: 0;
    height: 100%;
}

.clickable{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* MODAL */

#modal-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0,0,0, 0.5);
}

#modal
{
    position: relative;
    height: 25%;
    width: 25%;
    top: 25%;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
}

#modal-title
{
    font-size: large;
    padding-bottom: 16px;
}

.hidden{
    display: none;
}